html body {
    background: #effdfddb;
}

.header {
    font-size: xx-large;
    font-weight: bold;
    text-align: center;
}

.header-image {
    width: 10rem;
    height: 8rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.filters {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: flex-start;
    gap: 0.5rem;
}

.search {
    width: 60vw;
}

.sort {
    width: 30vw;
}

.loading {
    box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.3);
    height: 15vh;
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    padding: 50px;
    gap: 50px;
    overflow: hidden;
    Transition: all ease-in 1s;
    opacity: 1;
    transform: translateX(0%);
}

.slide-out {
    transform: translateX(0) !important;
    opacity: 0 !important;
}

